@import url('https://fonts.cdnfonts.com/css/games');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    background: rgb(15, 15, 15);
    min-height: 100vh;
    justify-content: center;
}

.conteudo{
    position: absolute;
    text-align: center;
    margin: 0;
    background: rgb(0, 0, 0);
    width: 500px;
    height: 500px;
}

.parede{
    position: absolute;
    background: green;
    width: 30px;
    height: 500px;
}

.chao{
    bottom: 0;
    position: absolute;
    background: green;
    width: 500px;
    height: 30px;
}

.plataforma{
    position: absolute;
    background: green;
    width: 200px;
    height: 30px;
}

.player{
    width: 60px;
    height: 100px;
    margin: 30px;
    position: absolute;
}
.player2{
    width: 60px;
    height: 100px;
    margin: 30px;
    position: absolute;
    filter: hue-rotate(300deg);
}

#direita{
    left: 500px;
}

#esquerda{
    left: 0px;
}

#plataforma1{
    left: 300px;
    bottom: 100px;
}
#plataforma2{
    left: 30px;
    bottom: 200px;
}

#plataforma3{
    left: 170px;
    bottom: 300px;
}

.escolherplayers{
    display: flex;
    align-items: center;
    width: 240px;
    bottom: 500px;
    height: 60px;
    position: absolute;
}

.bottao{
    font-family: 'Games', sans-serif;
    color: rgb(96, 180, 47);
    border-radius: 10px;
    margin: 10px;
    margin-top: -20px;
    background: rgb(0, 0, 0);
    padding: 20px;
    cursor: pointer;
}

.bottao:hover{
    font-family: 'Games', sans-serif;
    color: rgb(143, 248, 81);
    border-radius: 10px;
    margin: 10px;
    margin-top: -20px;
    background: rgb(16, 11, 39);
    padding: 20px;
    box-shadow: 0px 0px 10px green;
    cursor: pointer;
}

#imagemp2{
    position: absolute;
}